In [56]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

df = pd.read_csv("music.csv")

model = DecisionTreeClassifier()

trained_model = model.fit(df.drop(labels=["genre"], axis=1), df["genre"])

In [24]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [25]:
df.values

array([[20, 1, 'HipHop'],
       [23, 1, 'HipHop'],
       [25, 1, 'HipHop'],
       [26, 1, 'Jazz'],
       [29, 1, 'Jazz'],
       [30, 1, 'Jazz'],
       [31, 1, 'Classical'],
       [33, 1, 'Classical'],
       [37, 1, 'Classical'],
       [20, 0, 'Dance'],
       [21, 0, 'Dance'],
       [25, 0, 'Dance'],
       [26, 0, 'Acoustic'],
       [27, 0, 'Acoustic'],
       [30, 0, 'Acoustic'],
       [31, 0, 'Classical'],
       [34, 0, 'Classical'],
       [35, 0, 'Classical']], dtype=object)

In [26]:
df.values[3]

array([26, 1, 'Jazz'], dtype=object)

In [27]:
df.values[3][0]

26

In [28]:
df.values[3][1]

1

In [39]:
male_df = []
female_df = []
for i in df.values:
    if i[1] == 1:
        i[1] = "male"
        male_df.append(i)
    else:
        i[1] = "female"
        female_df.append(i)

In [40]:
male_df

[array([20, 'male', 'HipHop'], dtype=object),
 array([23, 'male', 'HipHop'], dtype=object),
 array([25, 'male', 'HipHop'], dtype=object),
 array([26, 'male', 'Jazz'], dtype=object),
 array([29, 'male', 'Jazz'], dtype=object),
 array([30, 'male', 'Jazz'], dtype=object),
 array([31, 'male', 'Classical'], dtype=object),
 array([33, 'male', 'Classical'], dtype=object),
 array([37, 'male', 'Classical'], dtype=object)]

In [41]:
female_df

[array([20, 'female', 'Dance'], dtype=object),
 array([21, 'female', 'Dance'], dtype=object),
 array([25, 'female', 'Dance'], dtype=object),
 array([26, 'female', 'Acoustic'], dtype=object),
 array([27, 'female', 'Acoustic'], dtype=object),
 array([30, 'female', 'Acoustic'], dtype=object),
 array([31, 'female', 'Classical'], dtype=object),
 array([34, 'female', 'Classical'], dtype=object),
 array([35, 'female', 'Classical'], dtype=object)]

In [52]:
new_dataframe = {}
c = 0
for i in df:
    arr = [j[c] for j in female_df]
    new_dataframe[i] = arr
    c += 1

new_df = pd.DataFrame(new_dataframe)

In [53]:
new_df.to_csv(index=False)

'age,gender,genre\n20,female,Dance\n21,female,Dance\n25,female,Dance\n26,female,Acoustic\n27,female,Acoustic\n30,female,Acoustic\n31,female,Classical\n34,female,Classical\n35,female,Classical\n'

In [54]:
new_df.to_csv("female.csv", index=False)

In [57]:
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [59]:
trained_model.predict([[21,1]])

array(['HipHop'], dtype=object)

In [60]:
trained_model.predict([[22,1]])

array(['HipHop'], dtype=object)

In [61]:
trained_model.predict([[22,0]])

array(['Dance'], dtype=object)

In [62]:
trained_model.predict([[23,0]])

array(['Dance'], dtype=object)

In [63]:
trained_model.predict([[24,0]])

array(['Dance'], dtype=object)

In [64]:
trained_model.predict([[25,0]])

array(['Dance'], dtype=object)

In [65]:
trained_model.predict([[26,0]])

array(['Acoustic'], dtype=object)

In [66]:
male_df

[array([20, 'male', 'HipHop'], dtype=object),
 array([23, 'male', 'HipHop'], dtype=object),
 array([25, 'male', 'HipHop'], dtype=object),
 array([26, 'male', 'Jazz'], dtype=object),
 array([29, 'male', 'Jazz'], dtype=object),
 array([30, 'male', 'Jazz'], dtype=object),
 array([31, 'male', 'Classical'], dtype=object),
 array([33, 'male', 'Classical'], dtype=object),
 array([37, 'male', 'Classical'], dtype=object)]

In [67]:
new_df

   age  gender      genre
0   20  female      Dance
1   21  female      Dance
2   25  female      Dance
3   26  female   Acoustic
4   27  female   Acoustic
5   30  female   Acoustic
6   31  female  Classical
7   34  female  Classical
8   35  female  Classical

In [224]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

model_object = DecisionTreeClassifier()

x_train, x_test, y_train, y_test = train_test_split(df.drop(labels=["genre"], axis=1), df["genre"], test_size=0.2)

model_object.fit(x_train, y_train)
predictions = model_object.predict(x_test)

score = accuracy_score(y_test, predictions)
score

1.0

In [230]:
# import pandas as pd
# from sklearn.tree import DecisionTreeClassifier
# # from sklearn.external import joblib

# import joblib


# df = pd.read_csv("music.csv")

# model = DecisionTreeClassifier()

# model.fit(df.drop(labels=["genre"], axis=1), df["genre"])

# model.predict([[21,1]])
# joblib.dump(model, "trained_data.joblib")

model = joblib.load("trained_data.joblib")
model.predict([[21,1]])

array(['HipHop'], dtype=object)

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

# dataframe
df = pd.read_csv("music.csv")

# input
X = df.drop(labels=["genre"], axis=1)

# output
Y = df["genre"]